.left
  width: 60%
  height: 600px
  display: flex
  flex-direction: column
  justify-content: center
  .line_up
    width: 200px
    height: 8px
    margin-bottom: 20px
    background-color: var(--font-color)
    border-radius: 3px
    
  h1  
    margin: 10px
    font-size: var(--font-size-title)
    font-weight: var(--font-weight-bold)
    color: var(--font-color)
    line-height: 100%
  p 
    font-size: var(--font-size-subtitle)
    font-weight: var(--font-weight-regular)
    color: var(--bg-card-upper)
    line-height: 150%
  .circle
    margin-top: 80px
    .arrow
        animation-name: move
        animation-duration: 2s
        animation-iteration-count: infinite
        animation-direction: normal
        animation-timing-function: ease-in-out

@keyframes move
  0%,
  100%
    transform: translateY(0)

  45%
    transform: translateY(-30px)

  75%
    transform: translateY(35px)

  90%
    transform: translateY(0px)
