.portfolio_card
  background-color: var(--bg-card-down)
  width: 100% 
  border-radius: 15px
  overflow: hidden
  .client_link
    min-height: 500px
    max-height: 700px
    display: flex
    flex-direction: column
    justify-content: space-between
    .prog_lang
      display: flex
      justify-content: flex-end
      padding: 0px 20px
      .tec_button
        width: 100px
        height: 45px
        margin: 10px
        padding-top: 11px
        text-align: center
        border-radius: 10px
        background-color: #5C6C83
        font-weight: var(--font-weight-bold)
    .client
      display: flex
      align-items: center
      font-size: var(--font-size-card-client)
      font-weight: var(--font-weight-medium)
      padding: 0px 20px
      img
        width: 50px
        height: 50px
        margin: 5px
        background-color: #ffffff
        border-radius: 50%
      .client_name
        font-size: var(--font-size-card-client)
    .project_title
      line-height: 1.5
      font-size: var(--font-size-card-title)
      font-weight: var(--font-weight-bold)
      padding: 0px 20px
    .project_image
      // background-color: red
      width: 100%
      // height: 60vh
      // object-fit: cover
// @media (min-width: 768px )
  // .portfolio_card
  //   height: 100%
  //   .image_portfolio
      // width: 100%

  // Grid layout for portfolio cards
  // .one
  //   grid-column: 1/2
  //   grid-row: 1/3
  //   background-color: skyblue
  // .two
  //   grid-column: 2/3
  //   grid-row: 2/5
  //   background-color: pink
  // .three
  //   grid-column: 2/3
  //   grid-row: 5/6
  //   background-color: green

  //   .portfolio_card
//     width: 100%
//     height: 74500px
//     display: flex
//     flex-direction: column
//     border-radius: 20px
//     background-color: var(--bg-card-down)
//     overflow: hidden
//     .prog_lang
//       display: flex
//       justify-content: flex-end
//       padding: 0px 20px
//       .tec_button
//         width: 100px
//         height: 45px
//         margin: 10px
//         padding-top: 11px
//         text-align: center
//         border-radius: 10px
//         background-color: #5C6C83
//         font-weight: var(--font-weight-bold)
//     .client
//       display: flex
//       align-items: center
//       font-size: var(--font-size-card-client)
//       font-weight: var(--font-weight-medium)
//       padding: 0px 20px

//       img
//         width: 50px
//         height: 50px
//         margin: 5px
//         background-color: #ffffff
//         border-radius: 50%
//     .project_title
//       line-height: 1.5
//       font-size: var(--font-size-card-client)
//       font-weight: var(--font-weight-bold)
//       padding: 0px 20px
//     img
//       width: 100%
//       height: 60vh
//   .one
//     grid-column: 1/2
//     grid-row: 1/3
//     gris
//     background-color: skyblue
//   .two
//     grid-column: 2/3
//     grid-row: 2/4
//     background-color: pink

//   .three
//     grid-column: 1/2
//     grid-row: 4/6
//     background-color: green
