:root {
  /* Colores */
  --main-background: #1B1F24;
  --seccondary-background: #22282F;
  --font-color: #FFFFFF;
  --big-icons: #075FE4;
  --small-icons: #A9B2C0;
  --bg-card-down: #2D343F;
  --bg-card-upper: #C3CAD5;
  --negro: #393939;


  /* Tipografía */
  --tipo-principal: "Space Grotesk";
  --tipo-secundaria: Verdana;

  /* Tamaño de la fuente */
  --font-size-title: 34px;
  --font-size-subtitle: 20px;
  --font-size-menu: 18px;
  --font-size-paragraph: 17px;
  --font-size-link: 24px;
  --font-size-side-title: 18px;
  --font-size-side-subtitle: 18px;
  --font-size-side-link: 16px;
  --font-size-section-title: 52px;
  --font-size-section-subtitle: 20px;
  --font-size-section-info: 18px;
  --font-size-section-link: 24px;
  --font-size-card-title: 25px;
  --font-size-card-client:26px;

  /* Peso de la fuente */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SpaceGrotesk-Regular.otf") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SpaceGrotesk-Medium.otf") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpaceGrotesk-Bold.otf") format("woff2");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}


body {
  background-color: var(--main-background);
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--font-color);
}

.fa {
  line-height: 1;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}
