/* Definimos las Custom properties */
:root {
  /* Colores */
  --main-background: #1B1F24;
  --seccondary-background: #22282F;
  --font-color: #FFFFFF;
  --big-icons: #075FE4;
  --small-icons: #A9B2C0;
  --bg-card-down: #2D343F;
  --bg-card-upper: #5D6C83;
  --negro: #393939;


  /* Tipografía */
  --tipo-principal: "Space Grotesk";
  --tipo-secundaria: Verdana;

  /* Tamaño de la fuente */
  --font-size-title: 76px;
  --font-size-subtitle: 18px;
  --font-size-menu: 20px;
  --font-size-side-title: 18px;
  --font-size-side-subtitle: 18px;
  --font-size-side-link: 16px;
  --font-size-section-title: 52px;
  --font-size-section-subtitle: 20px;
  --font-size-section-info: 18px;
  --font-size-section-link: 24px;
  --font-size-card-title: 38px;
  --font-size-card-client:34px;

  /* Peso de la fuente */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

}


@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SpaceGrotesk-Regular.otf") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SpaceGrotesk-Medium.otf") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpaceGrotesk-Bold.otf") format("woff2");
}



/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}



/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  background-color: var(--main-background);
  font-size: 100%;
  font-family: "Space Grotesk";
  color: var(--negro);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}