@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')

// Arrows
.slick-prev,
.slick-next 
  top: 100px
  width: 75px 
  height: 75px
  z-index: 1
  background-color: var(--big-icons)
  border-radius: 50%
  -webkit-transform: translate(0, -50%)
  -ms-transform: translate(0, -50%)
  transform: translate(0, -50%)
  

.slick-prev 
  left: calc(100% - 225px)

.slick-next 
  left: calc(100% - 100px)

.slick-prev::before
  font-family: FontAwesome
  content: "\f053"
  font-size: 40px

.slick-next::before
  font-family: FontAwesome
  content: "\f054"
  font-size: 40px

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
    background: var(--big-icons)

.slide_card
  display: flex !important
  flex-direction: row !important
// @media (min-width: 1024px )
// // Arrows
// .slick-prev,
// .slick-next 
//   top: -100px
//   width: 100px 
//   height: 100px
//   z-index: 1
//   background-color: var(--big-icons)
//   border-radius: 50%
//   -webkit-transform: translate(0, -50%)
//   -ms-transform: translate(0, -50%)
//   transform: translate(0, -50%)
  

// .slick-prev 
//   left: calc(100% - 225px)

// .slick-next 
//   left: calc(100% - 100px)

// .slick-prev::before
//   font-family: FontAwesome
//   content: "\f053"
//   font-size: 40px

// .slick-next::before
//   font-family: FontAwesome
//   content: "\f054"
//   font-size: 40px

// .slick-prev:hover,
// .slick-prev:focus,
// .slick-next:hover,
// .slick-next:focus
//     background: var(--big-icons)