.skills
  width: 100%
  height: 550px
  padding-top: 90px
  background-color: royalblue
  .skills_container
    width: 90vw
    display: flex
    flex-direction: column
    margin: auto
    .slider_container
      background-color: pink
      .slick-slider
        background-color: green
        button
          background-color: red
        .slick-list
          background-color: gray
          .slick-track
            background-color: red
            .slick-slide
              display: flex
              flex-direction: row
              background-color: green
              div
                background-color: lightblue
                .slide_card
                  display: flex
                  flex-direction: row
                  background-color: yellow

@media (min-width: 480px)

@media (min-width: 768px)

@media (min-width: 990px)
  // .skills
  //   width: 100%
  //   height: 1200px
  //   display: flex
  //   justify-content: center
  //   align-content: center
  //   align-items: center
  // .skills_container
  //   max-width: 1120px
  //   width: 90vw
  //   height: 700px
  //   display: flex
  //   flex-direction: column
  //   .section_title
  //     height: 200px
  //   .slider_container
  //     height: 400px
  //     // .slick-slider
  //     // .slick-slide
  //     //   background-color: red
  //     //   display: flex
  //     //   flex-direction: row
  //     //   width: 400px
  //     .slide_card
  //       // background-color: green
  //       display: flex !important
  //       flex-direction: row
  //       gap: 10px
