.about
  width: 100%
  padding: 1.25rem 0
  background-color: var(--seccondary-background)
  .about_container
    width: 90vw
    display: flex
    flex-direction: column
    justify-content: space-around
    margin: auto
    .container_up
      display: flex
      flex-direction: column 
      .about_left
        .paragraph
          font-size: var(--font-size-paragraph)
          font-weight: var(--font-weight-bold)
          margin: 1.25rem 0
        .button
          font-size: var(--font-size-section-link)
          font-weight: var(--font-weight-bold)
      .about_right
        margin-top: 1.25rem
        .title
          display: flex
          flex-direction: row
          justify-content: space-around
          .first
            display: flex
            flex-direction: row 
            justify-content: space-between
            align-items: center
            h2 
              font-size: var(--font-size-title)
              font-weight: var(--font-weight-bold)
            .subtitle_about-first
              font-size: var(--font-size-subtitle)
              font-weight: var(--font-weight-bold)
              p 
                margin-left: 10px
          .second
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            h2 
              font-size: var(--font-size-title)
              font-weight: var(--font-weight-bold)
            .subtitle_about-second
              font-size: var(--font-size-subtitle)
              font-weight: var(--font-weight-bold)
              p 
                margin-left: 10px
        .text-bottom
          font-size: var(--font-size-paragraph)
          font-weight: var(--font-weight-bold)
          line-height: 30px
          color: var(--bg-card-upper)
          margin: 1.25rem 0
    .container_bottom
      background-color: var(--seccondary-background)
      .clients
        .line
          height: 2px
          width: 100%
          background-color: #b9b2b2
          margin-bottom: 1.25rem     
        .content
          display: flex
          flex-direction: column
          align-items: center
          h2 
            font-size: var(--font-size-subtitle)
            font-weight: var(--font-weight-bold)
            margin-bottom: 1.25rem
          .icons
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center

@media (min-width: 768px )
  .about
    .about_container
      height: 800px
      flex-direction: column
      justify-content: space-evenly
      .container_up
        flex-direction: row
        height: 350px
        .about_left 
          width:90%
          display: flex
          flex-direction: column
          justify-content: space-evenly
        .about_center
          width: 20%
        .about_right
          width: 90%
          height: 300px
          display: flex
          flex-direction: column
          justify-content: space-evenly
          margin: 0
      .container_bottom
        .clients
          .content
            .icons
              flex-direction: row 
// @media (min-width: 1024px )
//       .about  
//         width: 100%
//         height: 1000px
//         display: flex
//         justify-content: center
//         align-items: center
//         background-color: var(--seccondary-background)
//         .about_container
//           max-width: 1120px
//           width: 90vw
//           height: 720px
//           display: grid
//           grid-template-columns: 47.5% 5% 47.5%
//           align-items: center
//           .about_left 
//             width: 100%
//             height: 500px
//             display: flex
//             flex-direction: column
//             justify-content: space-evenly
//             .title
//               width: 100%
//               display: flex
//               align-items: center
//               font-size: var(--font-size-section-info)
//               font-weight: var(--font-weight-bold)
//               p
//                 color: #00CE7C
//                 font-size: 30px
                
              
//             h2
//               font-size: var(--font-size-section-title)
//               font-weight: var(--font-weight-bold)
//             p
//               font-size: var(--font-size-section-info)
//               font-weight: var(--font-weight-bold)
//               line-height: 30px
//             .button
//               font-size: var(--font-size-section-link)
//               font-weight: var(--font-weight-bold)
//           .about_center
//             width: 100%
      
//           .about_right 
//             width: 100%
//             height: 60%
//             display: flex
//             flex-direction: column
//             justify-content: start
//             .title
//               width: 100%
//               display: flex
//               flex-direction: row
//               .first
//                 width: 50%
//                 display: flex
//                 align-items: center
//                 h2
//                   font-size: var(--font-size-section-title)
//                   font-weight: var(--font-weight-bold)
//                   margin-right: 15px
//                 p    
//                   font-size: var(--font-size-section-subtitle)
//                   font-weight: var(--font-weight-bold)
//               .second
//                 width: 50%
//                 display: flex
//                 align-items: center
//                 h2
//                   font-size: var(--font-size-section-title)
//                   font-weight: var(--font-weight-bold)
//                   margin-right: 15px
//                 p  
//                   font-size: var(--font-size-section-subtitle)
//                   font-weight: var(--font-weight-bold)
//             .text-bottom
//               padding-top:90px 
//               font-size: var(--font-size-section-info)
//               font-weight: var(--font-weight-bold)
//         .clients
//           width: 100%
//           height: 200px
//           grid-column: 1 / 4
//           grid-row: 3 / 4
//           .line
//             height: 1px
//             width: 100%
//             background-color: #b9b2b2
//           .content
//             height: 200px
//             width: 100%
//             display: flex
//             flex-direction: row
//             align-items: center
//             .icons
//               height: 200px
//               width: 80%
//               display: flex
//               flex-direction: row
//               align-items: center
//               justify-content: space-around