figure
  width: 100%
  display: flex
  justify-content: center
  // align-items: center 
  img
    // width: 250px
    width: 80%
    max-width: 350px
    height: auto

@media (min-width: 768px )
  // figure
  //   img 
  //     width: 100%
  //     max-width: 600px

@media (min-width: 1024px )
