.nav
  width: 55%
.navItem
  display: flex
  justify-content: space-evenly
  li
    a
      font-size: calc(var(--font-size-menu) * 1.2)

@media (min-width: 1024px)
    .nav  
      .navItem
        li
          a
            font-size: calc(var(--font-size-menu) * 1.3)
