.navItem
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    li
      margin-top : 10px
      a
        font-family: var(--tipo-principal)
        font-size: var(--font-size-menu)

@media (min-width: 768px )
    .nav
        width: 100%
        .navItem
          width: 90%
          margin: 0 auto
          display: flex
          flex-direction: row
          justify-content: space-between

@media (min-width: 1024px)
    .nav  
        width: 50%