.navItem
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    li
      margin-top : 10px
      a
        font-family: var(--tipo-principal)
        font-size: var(--font-size-menu)

@media (min-width: 768px )
    .nav
        width: 100%
        .navItem
          width: 90%
          margin: 0 auto
          display: flex
          flex-direction: row
          justify-content: space-between
          li
            a
              font-size: calc(var(--font-size-menu) * 1.2)


@media (min-width: 1024px)
    .nav  
        width: 60%
        .navItem
          width: 80%
          /* justify-content: flex-end */
          li
            margin-left: 30px
            a
              font-size: calc(var(--font-size-menu) * 1.3)
