.section_title
  width: 100%
  display: flex
  flex-direction: column
  font-size: var(--font-size-section-info)
  font-weight: var(--font-weight-bold)
  .title_up
    display: flex
    flex-direction: row
    align-items: center
    font-size: var(--font-size-section-subtitle)
    
    p
      margin: 5px
      color: #00CE7C
  h2
    margin-top: 40px
    font-size: var(--font-size-section-title)
    font-weight: var(--font-weight-bold)