.section
  max-width: 1120px
  height: 1000px
  position: relative
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  .container
    width: 90vw
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    z-index: 1
    .center
      width: 30%