.containerPicture
  width: 100%
  .pictureBg
    display: flex
    justify-content: center
    img
      width: 95%

@media (min-width: 480px )
  .containerPicture
    .pictureBg
      img
        width: 60%

@media (min-width: 768px)
  .containerPicture
    width: 100%
    // background-color: red
    position: relative
    .pictureBg
      position: absolute
      bottom: -200px
      right: 130px
      width: 100%

// @media (min-width: 991px )
//   .containerPicture
//     .pictureBg
//       bottom: -20px
//       right: -30px