// Arrows
.slider_container_testimonials
  .slick-slider
    .slick-prev,
    .slick-next 
      top: 105%
      width: 60px 
      height: 60px
      // background-color: red
    .slick-prev 
      left: calc(50% - 70px)
      // background-color: blue
    .slick-next 
      left: calc(50% + 10px)
      // background-color: green