.client_card
  // height: 500px
  display: flex
  flex-direction: column
  align-items: center
  img
    width: 90%
    // height: 430px
    border-radius: 20px
    padding: 10px
  .testimonial
    // height: 430px
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding:0 30px
    .info
      font-size: var(--font-size-card-client)
      font-weight: var(--font-weight-bold)
      // line-height: 50px
      white-space: pre-wrap
      text-align: center
      margin-top: 20px
    .bottom
      display: flex
      flex-direction: row
      align-items: center
      margin: 20px 0
      img
        height: 100px
        width: 100px
        // border-radius: 50%